@charset "UTF-8";
/* Configurações globais */
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #EF954B, #FAB280);
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #75533b88;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #914409;
    text-align: center;
    text-shadow: 1px 1px 2px #aa6730c5);
}

h2 {
    color: #AD5F26;
}

p {
    text-align: justify;
}